<html>
<head>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous" />
<link rel="stylesheet" th:href="@{/style.css}" />
<title>The Media Empire</title>
</head>
<body>
	<nav th:include="navbar.html" />
	<div class="content">
		<!-- News Feed  -->
		<!-- Blog -->
		<!-- Hobby Journeys -->
		<h1>The Media Empire!</h1>
		<p>Okay, so I have this page and I'd like to do something with
			it... but I don't know what. I will start with basic blogging and
			notes since I am just using the index to write things, and I would
			like a more formal place to take notes on things I am working on that
			just notepad++</p>

		<ol>
			<li>News Feed</li>
			<li>Blog</li>
			<li>Hobby Journeys</li>
		</ol>
	</div>
</body>
</html>